<div class="component edit">
  <div class="row">
    <div class="col-md-6"><p>Edit works!</p></div>
  </div>

  <h1>Add user</h1>

  <div class="row">
    <div class="col-6">
      <form #userEditForm="ngForm" name="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">Firstname</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your firstname"
            [(ngModel)]="user!.firstName"
            name="firstname"
            required
            #firstName="ngModel"
          />
        </div>
        <label for="lastName">Lastname</label>
        <input
          type="text"
          class="form-control"
          placeholder="Your lastname"
          [(ngModel)]="user!.lastName"
          name="lastName"
          #lastName="ngModel"
          required
        />
        <label for="emailAdress">Emailaddress</label>
        <input
          type="email"
          class="form-control"
          [(ngModel)]="user!.emailAdress"
          placeholder="Your email adress"
          name="emailAdress"
          #emailAdress="ngModel"
          required
        />
        <label for="phoneNumber">Phonenumber</label>
        <input
          type="tel"
          class="form-control"
          [(ngModel)]="user!.phoneNumber"
          placeholder="Your phonenumber"
          name="phoneNumber"
          #phoneNumber="ngModel"
          required
        />
        <div class="row">
          <!-- Bij Save roepen we de save() functie aan, en navigeren
                        terug naar details binnen die functie -->
          <div class="col">
            <button
              role="button"
              type="submit"
              class="btn btn-primary mx-2"
              [disabled]="!userEditForm.valid"
            >
              Submit
            </button>
          </div>
          <div class="col">
            <button
              class="btn btn-outline-secondary float-right"
              href="#"
              role="button"
              routerLink="/user"
            >
              Cancel
            </button>
          </div>
          <!-- Bij Cancel doen we nu nog niets, maar gaan gewoon terug naar de details -->
        </div>
      </form>
    </div>
  </div>
</div>
