<div class="container">
  <div class="row m-3">
    <h2>{{ bookList!.name }}</h2>
    <p class="fst-italic">{{ bookList!.description }}</p>
    <div class="row">
      <div *ngIf="!isAllBooks" class="col">
        <a
          class="btn btn-success d-inline float-end"
          role="button"
          routerLink="/book"
          >Add a book to your reading list</a
        >
        <a class="btn btn-warning d-inline float-end" routerLink="edit">
          Edit your reading list
        </a>
      </div>
      <div>
        <a class="btn btn-succes" routerLink="new"> Create a book </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-lg-3 row-cols-md-2 gy-3">
      <div class="col" *ngFor="let book of books">
        <div class="bookItem card">
          <app-book-card
            (notify)="onNotify()"
            [book]="book"
            [isAllBooks]="isAllBooks"
          ></app-book-card>
        </div>
      </div>
    </div>
  </div>
</div>
