<div class="container">
  <div class="row">
    <div class="col mt-4">
      <div *ngIf="true">
        <form (ngSubmit)="onSubmit()" #addForm="ngForm">
          <button class="d-inline float-end btn btn-success" type="submit">
            Add to reading list
          </button>
          <div class="d-inline float-end">
            <select
              class="form-select"
              [(ngModel)]="selectedBookList"
              [ngModelOptions]="{ standalone: true }"
            >
              <option value="standard">Select a list</option>
              <option *ngFor="let x of user!.bookLists" value="{{ x.id }}">
                {{ x!.name }}
              </option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 m-auto">
      <img src="{{ book!.imageUrl }}" alt="" class="w-100" />
    </div>
    <div class="col">
      <div class="row m-5">
        <h2>{{ book!.title }}</h2>
        <h3 class="text-center">Summary</h3>
        <div class="row summary">
          <p class="fst-italic">{{ book!.summary }}</p>
        </div>
        <div class="row">
          <p>Price: {{ book!.price | currency : 'EUR' }}</p>
        </div>
        <div class="row">
          <p>Rating: {{ book!.rating }}/10</p>
        </div>
        <div class="row">
          <p>Have you read this book?</p>
          <p>
            <fa-icon
              [icon]="faCheck"
              *ngIf="book!.hasBeenRead"
              style="color: greenyellow"
            ></fa-icon>
            <fa-icon
              [icon]="faX"
              *ngIf="!book!.hasBeenRead"
              style="color: red"
            ></fa-icon>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
